* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* 
#2c3e50 main dark
#f5f5f5 main white
#E6EAEA message box
#435F7A chat other 
*/

.fullScreen {
  height: 100vh;
  display: flex;
  background: url('https://images.unsplash.com/photo-1607543551362-9c1e4f4ac287?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80');
  background-size: cover;
}

.app {
  display: flex;
  /* min-height: 100vh; */
  /* max-height: 100vh; */
  height: 95.3vh;
  margin: 1rem 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
  .app {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    border-radius: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

aside {
  width: 28%;
  display: flex;
  flex-direction: column;
  border-right: 0.1px solid #435f7a;
}

main {
  width: 72%;
  background: transparent;
  /* background-image: url(./assets/chatbg.png); */
  display: flex;
  flex-direction: column;
  background-size: contain;
}

@media (max-width: 768px) {
  aside {
    width: 100%;
  }
  main {
    width: 100%;
  }
}

#toggle {
  background-color: transparent !important;
  color: #f5f5f5;
  box-shadow: none;
  outline: none;
  border: none;
}

.menu-item {
  outline: none !important;
  border: none !important;
}

.menu-item:hover,
.menu-item:active {
  background-color: #e6eaea;
}

.chats {
  flex: 1;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  overflow-y: auto;
}

.avatar {
  height: 100%;
  border-radius: 50%;
  margin: 0 0.75rem 0 0;
}

.search {
  /* background: #32465a; */
  padding-right: 0.4rem;
}

.search input[type='text'] {
  background-image: url(./assets/search.svg);
  background-repeat: no-repeat;
  background-size: 1.1rem, 1.1rem;
  background-position: 0.64rem 0.78rem;
  padding: 0.6rem 0;
  padding-left: 2rem;
  background: transparent;
  color: #f5f5f5;
}

.search input[type='text']::placeholder {
  color: #f5f5f5;
  font-size: 15px;
}

.search input[type='text']:focus {
  background: #435f7a;
}

.contact-boxes {
  overflow-y: auto;
  flex: 1;
  /* background-color: #2c3e50; */
}
.contact-box {
  /* background: #2c3e50; */
  height: 10%;

  padding: 0.75rem 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-title {
  color: #f5f5f5;
  font-size: 16px;
  padding-top: 5px;
}

.contact-box:hover {
  background: #32465a;
}

.contact-box.active {
  background: linear-gradient(to right, #32465a 0%, #32465a 98%, #435f7a 98%, #435f7a 100%);
}

main header,
aside header {
  background: transparent;
  height: 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside header {
  /* background: #2c3e50; */
}

main header {
  justify-content: flex-start;
  padding: 0 1rem;
}

.time-mark {
  color: #f5f5f5;
  font-size: 12px;
}
.text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
}

.avatar-title {
  color: #f5f5f5;
  font-size: 18px;
  padding-top: 5px;
  font-weight: 400;
}
.avatar-component {
  display: flex;
  align-items: center;
  height: 70%;
  margin: 1rem 0;
}
.right-section {
  width: 100%;
  display: flex;
  align-items: center;
}
.contact-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #f5f5f5;
}
.icon-small {
  width: 0.85rem;
  margin: 0 0.25rem;
}
.last-msg {
  display: flex;
  align-items: flex-end;
}
.chat-input-box {
  display: flex;
  height: 3.3rem;
  align-items: center;
  background: #e6eaea;
  justify-content: space-between;
}

aside header {
  padding: 0 0.75rem;
  /* border-right: 1px solid #e1e1e1; */
}

.icon {
  width: 0.75rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
#statusIcon {
  width: 1.25rem;
}
input {
  border: none;
  /* border-radius: 1rem; */
  width: 100%;
  padding-left: 1rem;
}

.light {
  color: #2c3e50;
}

.dark {
  /* background-color: #2c3e50 !important; */
  color: #f5f5f5 !important;
  font-weight: 350 !important;
}

.chat-input input {
  height: 90%;
}
input:focus {
  outline: none;
}

.emoji-selector {
  width: 5%;
  text-align: center;
}
.chat-input {
  width: 90%;
  height: 100%;
}
.send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  margin: 0 !important;
  padding: 0.2rem 0.2rem;
}

@media (max-width: 768px) {
  .send {
    width: 14%;
  }
}

.message {
  color: #2c3e50;
  clear: both;
  line-height: 1.1rem;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1.2rem;
  border-radius: 18px;
  position: relative;
  margin: 8px 0;
  min-width: 10%;
  max-width: 45%;
  width: fit-content;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .message {
    max-width: 100%;
  }
}

/* .message::before {
  position: absolute;
  left: -10px;
  top: 0;
  content: '';
  display: block;
  border: solid;
  border-width: 0px 16px 16px 0px;
  border-color: transparent;
  border-right-color: #fff;
} */
.message.received {
  background: #435f7a;
  color: #f5f5f5;
  /* float: left; */
}

.message.received .user_name {
  font-weight: 600;
  color: #f5f5f5;
  padding-bottom: 2px;
}

/* .message.sent::before {
  left: auto;
  right: -28px;
  border-width: 0px 16px 16px 16px;
  border-color: transparent;
  border-left-color: #e1ffc7;
} */

.message.sent {
  background: #f5f5f5;
  /* float: right; */
  margin-left: auto;
}

.welcome {
  /* background: #2c3e50; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome h2 {
  margin-top: 2rem;
  font-weight: normal;
  color: #f5f5f5;
}
.welcome h5 {
  color: #f5f5f5;
  font-weight: 300;
}
.welcome img {
  width: 300px;
}

.metadata {
  /* float: right; */
  display: flex;
  justify-content: flex-end;
  padding-left: 1.5rem;
}

.metadata .date {
  color: #f5f5f5;
  font-size: 11px;
  display: inline-block;
}

.metadata .date-dark {
  color: #2c3e50;
  font-size: 11px;
  display: inline-block;
}

.message-modal {
  height: calc(var(--vh, 1vh) * 100);
}

.msg-video {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  outline: none;
  border: none;
}

#profile-modal .modal-content {
  min-height: 100%;
}

#profile-modal .modal-full-height {
  min-height: 100%;
  height: 100%;
  margin: 0 !important;
}

#message-modal .modal-content {
  min-height: 100%;
}

#message-modal .modal-full-height {
  min-height: 100%;
  height: 100%;
  margin: 0 !important;
}

.fade {
  transition: opacity 0.1s linear !important;
}

#messageBox-header {
  cursor: pointer;
}

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}

.profile-details p {
  font-size: 1.1rem;
}
