* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

@media (max-witdh: 768px) {
  * {
    font-size: 12px;
  }
}

/* 
#2c3e50 main dark
#f5f5f5 main white
#E6EAEA message box
#435F7A chat other 
*/

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.fullScreen {
  height: 100vh;
  display: flex;
  background: url('https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

.app {
  display: flex;
  /* min-height: 100vh; */
  /* max-height: 100vh; */
  height: 95.3vh;
  flex-grow: 1;
  margin: 1rem 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
  .app {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    border-radius: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

aside {
  width: 28%;
  display: flex;
  flex-direction: column;
  border-right: 0.1px solid #435f7a;
  background-color: rgba(44, 62, 80, 0.15);
}

main {
  width: 72%;
  background: transparent;
  /* background-image: url(./assets/chatbg.png); */
  display: flex;
  flex-direction: column;
  background-size: contain;
}

@media (max-width: 768px) {
  aside {
    width: 100%;
  }
  main {
    width: 100%;
  }
}

#toggle {
  background-color: transparent !important;
  color: #f5f5f5;
  box-shadow: none;
  outline: none;
  border: none;
}

.menu-item {
  outline: none !important;
  border: none !important;
}

.menu-item:hover,
.menu-item:active {
  background-color: #e6eaea;
}

.chats {
  flex: 1;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  overflow-y: auto;
}

.avatar {
  height: 100%;
  border-radius: 50%;
  margin: 0 0.75rem 0 0;
}

.search {
  /* background: #32465a; */
  padding-right: 0.4rem;
  border-bottom: 0.1px solid #435f7a;
  border-top: 0.1px solid #435f7a;
}

.search input[type='text'] {
  background-image: url(./assets/search.svg);
  background-repeat: no-repeat;
  background-size: 1.1rem, 1.1rem;
  background-position: 0.64rem 0.78rem;
  padding: 0.6rem 0;
  padding-left: 2rem;
  background: transparent;
  color: #f5f5f5;
}

.search input[type='text']::placeholder {
  color: #f5f5f5;
  font-size: 15px;
}

.search input[type='text']:focus {
  background: rgba(67, 95, 122, 0.5);
}

.contact-boxes {
  overflow-y: auto;
  flex: 1;
  /* background-color: rgba(44, 62, 80, 0.5); */
}
.contact-box {
  /* background: #2c3e50; */
  height: 10%;

  padding: 0.75rem 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-title {
  color: #f5f5f5;
  font-size: 16px;
  padding-top: 5px;
}

.contact-box:hover {
  background: rgba(50, 70, 90, 0.5);
}

.contact-box.active {
  background: linear-gradient(
    to right,
    rgba(50, 70, 90, 0.5) 0%,
    rgba(50, 70, 90, 0.5) 98%,
    rgba(67, 95, 122, 0.7) 98%,
    rgba(67, 95, 122, 0.7) 100%
  );
}

main header,
aside header {
  background: transparent;
  height: 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside header {
  /* background: #2c3e50; */
}

main header {
  justify-content: flex-start;
  padding: 0 1rem;
}

.time-mark {
  background-color: #e4e4e4;
  color: #000000;
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 20px;
}
.text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
}

.avatar-title {
  color: #f5f5f5;
  font-size: 18px;
  padding-top: 5px;
  font-weight: 400;
}
.avatar-component {
  display: flex;
  align-items: center;
  height: 70%;
  margin: 1rem 0;
}
.right-section {
  width: 100%;
  display: flex;
  align-items: center;
}
.contact-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #f5f5f5;
}
.icon-small {
  width: 0.85rem;
  margin: 0 0.25rem;
}
.last-msg {
  display: flex;
  align-items: flex-end;
}
.chat-input-box {
  display: flex;
  height: 3.3rem;
  align-items: center;
  background: rgba(230, 234, 234, 0.2);
  justify-content: space-between;
}

aside header {
  padding: 0 0.75rem;
  /* border-right: 1px solid #e1e1e1; */
}

.icon {
  width: 0.75rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
#statusIcon {
  width: 1.25rem;
}
input {
  border: none;
  /* border-radius: 1rem; */
  width: 100%;
  padding-left: 1.1rem;
  color: #000;
}

.custom-file-label {
  color: #000 !important;
}

.light {
  color: #2c3e50;
}

.dark {
  /* background-color: #2c3e50 !important; */
  color: #f5f5f5 !important;
  font-weight: 350 !important;
}

.chat-input input {
  height: 90%;
  background: transparent;
  caret-color: #f5f5f5;
  color: #f5f5f5;
}
.chat-input input::placeholder {
  color: rgba(245, 245, 245, 0.5);
}
input:focus {
  outline: none;
}

.emoji-selector {
  width: 5%;
  text-align: center;
  color: rgba(230, 234, 234, 0.7);
  position: relative;
}
.chat-input {
  width: 90%;
  height: 100%;
}
.send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  margin: 0 !important;
  padding: 0.2rem 0.2rem;
}

.send i {
  color: rgba(230, 234, 234, 0.7);
}

@media (max-width: 768px) {
  .send {
    width: 14%;
  }
}

.message {
  color: #2c3e50;
  clear: both;
  line-height: 1.1rem;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 18px;
  position: relative;
  margin: 8px 0;
  min-width: 10%;
  max-width: 45%;
  width: fit-content;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .message {
    max-width: 100%;
  }
}

/* .message::before {
  position: absolute;
  left: -10px;
  top: 0;
  content: '';
  display: block;
  border: solid;
  border-width: 0px 16px 16px 0px;
  border-color: transparent;
  border-right-color: #fff;
} */
.message.received {
  background: rgba(67, 95, 122, 0.8);
  color: #f5f5f5;
  /* float: left; */
}

.message.received .user_name {
  font-weight: 600;
  color: #f5f5f5;
  padding-bottom: 2px;
}

/* .message.sent::before {
  left: auto;
  right: -28px;
  border-width: 0px 16px 16px 16px;
  border-color: transparent;
  border-left-color: #e1ffc7;
} */

.message.sent {
  background: rgba(245, 245, 245, 0.8);
  /* float: right; */
  margin-left: auto;
}

.welcome {
  /* background: #2c3e50; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome h2 {
  margin-top: 2rem;
  font-weight: normal;
  color: #f5f5f5;
}
.welcome h5 {
  color: #f5f5f5;
  font-weight: 300;
}
.welcome img {
  width: 300px;
}

.metadata {
  /* float: right; */
  display: flex;
  justify-content: flex-end;
  padding-left: 1.5rem;
}

.metadata .date {
  color: #f5f5f5;
  font-size: 11px;
  display: inline-block;
}

.metadata .date-dark {
  color: #2c3e50;
  font-size: 11px;
  display: inline-block;
}

.message-modal {
  height: calc(var(--vh, 1vh) * 100);
}

.msg-video {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  outline: none;
  border: none;
}

audio {
  width: 20rem;
  max-height: 100%;
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  audio {
    width: 16rem;
  }
}

#profile-modal .modal-content {
  min-height: 100%;
}

#profile-modal .modal-full-height {
  min-height: 100%;
  height: 100%;
  margin: 0 !important;
}

#message-modal .modal-content {
  min-height: 100%;
}

#message-modal .modal-full-height {
  min-height: 100%;
  height: 100%;
  margin: 0 !important;
}

.fade {
  transition: opacity 0.1s linear !important;
}

#messageBox-header {
  cursor: pointer;
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.2);
  background-color: rgba(44, 62, 80, 0.1);
}

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}

.profile-details p {
  font-size: 1.1rem;
}

.offline-icon {
  color: rgba(124, 252, 0, 0.8);
  padding-left: 10px;
  font-size: 0.8rem;
}

.online-icon {
  color: rgba(255, 69, 0, 0.8);
  padding-left: 10px;
  font-size: 0.8rem;
}

.modal-content {
  background-color: rgba(50, 70, 90, 0.2);
  backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
  #message-modal > div > .modal-content {
    backdrop-filter: blur(0px);
  }
}

.modal-content p,
.modal-content h4,
.modal-content label {
  color: #f5f5f5;
}

.btn-primary {
  background-color: rgba(76, 199, 68, 0.5) !important;
}

.btn-secondary {
  background-color: #306291 !important;
}

.backdrop {
  opacity: 0 !important;
}

.message.received a {
  color: #29ff37;
}

.emoji-picker-react {
  position: absolute !important;
  bottom: 3rem;
  left: 0;
}

.login-main {
  background: url('https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-main h3 {
  color: #f5f5f5;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.google-signin-btn {
  outline: none;
  border: none;
  background-color: #ff4655cc;
  color: #ece8e1;
  text-align: center;
  padding: 1rem 5rem;
  position: relative;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.2rem;
  transition: 0.2s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.google-signin-btn i {
  padding-right: 5px;
}

.google-signin-btn:hover {
  background-color: #0b0b0bbb;
}

.google-signin-btn:focus {
  outline: none;
}

.google-signin-btn::before {
  content: ' ';
  display: block;
  position: absolute;
  top: -7.5px;
  left: -7.5px;
  height: calc(30% + 15px);
  width: calc(100% + 15px);
  border: 1px solid rgba(236, 232, 225, 0.8);
  border-bottom: none;
}

.google-signin-btn::after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: -7.5px;
  left: -7.5px;
  height: calc(30% + 15px);
  width: calc(100% + 15px);
  border: 1px solid rgba(236, 232, 225, 0.8);
  border-top: none;
}

/* Loading CSS Start */

.loading-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

@keyframes ldio-dt78pm6v1ms {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-dt78pm6v1ms div {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 5px solid #21ee73;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-dt78pm6v1ms div {
  animation: ldio-dt78pm6v1ms 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-ihdqxo5mcw {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-dt78pm6v1ms {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dt78pm6v1ms div {
  box-sizing: content-box;
}

/* Loading CSS END */
